################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/FrameWorkCode/.vs/qpadfinal/v15
/FrameWorkCode/debug/qpadfinal.tlog
/FrameWorkCode/debug
/FrameWorkCode/release
/FrameWorkCode/qpadfinal.sln
/FrameWorkCode/qpadfinal.vcxproj
/FrameWorkCode/qpadfinal.vcxproj.filters
/FrameWorkCode/qpadfinal.vcxproj.user
